@import "falseinput-react-searchbox";

.App {
  text-align: center;
  max-width: 300px;
  margin: 16px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 24px;
  margin-bottom: 24px;
}

.subsection {
  margin-bottom: 48px;
}

.select-wrapper {
  max-width: 300px;
  margin: 16px 0;
  position: relative;
  z-index: 1;
}

.header {
  background: #284a77;
  color: #fff;
}

ul {
  padding: 0;
  list-style: square;
}


h1, h3 {
  margin: 0;
  margin-bottom: 16px;
}


.my-result {
  display: flex;

  &:hover,
  &.-selected {
    background-color: #09d3ac,
  }

  .react-searchbox__result {
    &:hover,
    &.-selected {
      background-color: #09d3ac,
    }
  }

  .icon {
    width: 24px;
    padding-right: 8px;
  }
}
