

.tomtom-react-searchbox {
    --color-white: rgb(255, 255, 255);
    --color-solitude: rgb(224, 235, 255);
    --color-silver: rgb(204, 204, 204);
    --color-dodger-blue: rgb(67, 129, 254);
    --color-main-shaft: rgb(53, 53, 53);
    --color-main-gray: rgb(127, 127 ,127);
    --border: 1px solid var(--color-silver);
    --border-radius: 4px;

    text-align: left;
    display: block;

    &__input-wrapper {
        background-color: var(--color-white);
        min-height: 38px;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 2px 12px;
        display: flex;
        box-sizing: border-box;

        &:focus-within {
            box-shadow: inset 0 0 0 1px var(--color-dodger-blue);
            border-color: var(--color-dodger-blue);
        }
    }

    &__input {
        outline: none;
        border: none;
        text-overflow: ellipsis;
        width: 100%;
    }

    &__clear {
        cursor: pointer;
        display: flex;
        align-items: center;
        fill: var(--color-main-gray);
        &:hover {
            fill: var(--color-main-shaft);
        }
    }

    &__results {
        background-color: var(--color-white);
        border: var(--border);
        border-radius: var(--border-radius);
        margin-top: 8px;
        padding: 4px 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        position: absolute;

        .tomtom-react-searchbox {
            &__result {
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 8px;

                &:hover,
                &.-selected {
                background-color: var(--color-solitude);
                cursor: pointer;
                }

                & > * {
                display: inline;
                }
            }

            &__result-item {
                &.-primary {
                    color: var(--color-main-shaft);
                    font-weight: bold;
                }
                &.-secondary {
                    color: var(--color-main-gray);
                }
            }
        }
    }
}
