
.tomtom-react-searchbox {
    text-align: left;
    display: inline-block;

    &__results {
        background-color: #ffffff;
        .tomtom-react-searchbox {
            &__result {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 8px;

                &:hover,
                &.-selected {
                background-color: #eeeeee;
                cursor: pointer;
                }

                & > * {
                display: inline;
                }
            }

            &__result-item {
                &.-primary {
                color: #353535;
                font-weight: bold;
                }
                &.-secondary {
                color: #7f7f7f;
                }
            }
        }
    }
}
